* {
  box-sizing: border-box;
}

h1 {
  font-family: Arial, sans-serif;
  color: rgb(11, 86, 117);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(154, 205, 237);
  font-family: Arial, sans-serif;
  color: rgb(28, 78, 104);
  background-repeat: no-repeat;
}

body::before {
  content: "Click To Start!";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  font-weight: bold;
  z-index: -1;
}

footer {
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(233, 73, 154);
}

a:visited {
  color: rgb(110, 30, 71);
}

a:hover {
  color: rgb(252, 207, 230);
}

#canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  border: none;
  margin: 0;
  padding: 0;
  visibility: hidden; 
}
