body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.a404 {
  font-size: 100px;
  font-weight: bold;
  color: #d3d2d2;
  margin-bottom: 0;
}
.subheading {
  font-size: 30px;
  color: #d3d2d2;
}

.gs:hover {
  color: #d3d2d2;
}
