@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
}

body,
h1,
h3,
h4,
h5,
h6 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 100;
  color: white;
}

#searchbar {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  width: 50%;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
#searchbar:focus {
  width: 60%;
  border: 1px solid #555;
  border-radius: 8px;
}

::placeholder {
  font-family: "Inter", Arial, sans-serif;
  color: var(--textcolor);
  opacity: 0.6;
  text-align: center;
}

.card {
  width: 140px;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #353d49;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.text {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
}

.card:hover {
  color: rgb(164, 176, 176);
  scale: 1.2;
  transition: 0.2s;
}
