#gameframe {
  margin-top: 1vw;
  margin-bottom: 6vw;
  margin-right: 23vw;
  display: flex;
}
#gameframe .gameDisplay {
  margin: auto;
  outline: 0.2vw solid #ffffff26;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.24);
  width: 72.5vw;
  height: 38.5vw;
  background-color: #353d49;
  border-radius: 0.5vw;
  overflow: hidden;
}
#gameframe .game {
  margin: auto;
  width: 72.5vw;
  height: 34vw;
  background-color: #444;
  background-repeat: no-repeat;
  background-position: center;
}
#gameframe .game iframe {
  width: 72.6vw;
  height: 34.1vw;
  border: 0;
}
#gameframe .options {
  margin: auto;
  width: 100%;
  height: 2.3vw;
  display: flex;
  align-items: center;
  padding-bottom: 1.5vh;
}
#gameframe .options .left {
  display: flex;
  align-items: center;
}
#gameframe .options .right {
  display: flex;
  margin-top: 2.2vw;
  margin-right: 1.5vw;
  align-items: center;
  justify-content: flex-end;
}
.addisplay {
  margin-left: 80vw;
  width: 16vw;
  height: 32vw;
  background-color: #3d4756;
  border-radius: 0.5vw;
  display: flex;
  margin-top: -42.5vw;
  margin-bottom: -5vw;
  outline: 0.2vw solid #ffffff26;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.24);
}

.gameicon {
  margin-left: 0.6vw;
  margin-top: 1.9vw;
  border-radius: 0.5vw;
  background: #19191b;
  width: 2.6vw;
  height: 2.6vw;
  margin-top: 0.2vw;
  transition: 0.4s;
}

.margin {
  margin-top: 0.3vw;
  margin-left: 0.7vw;
}
.flex {
  display: flex;
}
.titletext {
  margin: 0;
  font-size: 1.4vw;
  padding: 0 0.5vw 0.5vw 0 0;
  color: #ffffff;
  width: 45vw;
}
.bytext {
  display: block;
  color: #cfcfcf;
  font-size: 1.1vw;
  margin: 0.2vw 0 0;
  letter-spacing: 0.3px;
  font-size: 0.8vw;
}
.gametext {
  font-size: 1.25vw;
  display: flex;
  margin-top: 2vw;
}
.adtext {
  font-size: 0.5vw;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
  letter-spacing: 0.05vw;
  position: absolute;
  right: 15vw;
  padding-top: 10px;
  margin-top: 32.2vw;
  transform-origin: right center;
}

#gameframe .options .left,
#gameframe .options .right {
  width: 50%;
  height: 100%;
}
#gameframe .options .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#gameframe .options .right .game-button {
  float: right;
  margin-right: 1vw;
  height: 70%;
}
.fullscreenbtn {
  border-radius: 0.3vw;
  font-size: 1.6vw;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-left: 1.2vw;
}
.fullscreenbtn:hover {
  transform: scaleX(1.2) scaleY(1.2) rotate(-10deg);
}
.reloadbtn {
  font-size: 1.6vw;
  cursor: pointer;
  transition: transform 0.55s ease-in-out;
}
.reloadbtn:hover {
  transform: scaleX(1.2) scaleY(1.2) rotate(360deg);
}
