@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#title {
  font-size: 72px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Roboto", serif;
  text-align: center;
  padding-top: 2vh;
}

#sub {
  font-size: 17px;
  color: #b5cae0;
  margin-bottom: 2px;
  font-family: "Roboto", serif;
  text-align: center;
  cursor: pointer;
}

.form__input {
  padding: 1.2vw;
  width: 50%;
  border-radius: 5px;
  background: #7a8fab;
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  transition: 0.2s;
  margin: 0;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.shortcut {
  width: 170px;
  height: 90px;
  border-radius: 15px;
  margin-top: 10px;
  transition: 0.2s;
}

.quicklinks {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  max-width: 1000px;
}

.quicklink {
  margin-right: 10px;
  cursor: pointer;
}

.shortcut:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.info {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.infobtn {
  background-color: #7a8fab;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.15s ease;
}

.infobtn:hover {
  scale: 1.05;
  color: #b5cae0;
}
