@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#titles {
  font-size: 72px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Roboto", serif;
  text-align: center;
  padding-top: 2vh;
}

#sub {
  font-size: 17px;
  color: #b5cae0;
  margin-bottom: 2px;
  font-family: "Roboto", serif;
  text-align: center;
  cursor: pointer;
}

.form__input {
  padding: 1.2vw;
  width: 50%;
  border-radius: 5px;
  background: #7a8fab;
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  transition: 0.2s;
  margin: 0;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.shortcut {
  width: 170px;
  height: 90px;
  border-radius: 15px;
  margin-top: 10px;
  transition: 0.2s;
}

.quicklinks {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  max-width: 1000px;
}

.quicklink {
  margin-right: 10px;
  cursor: pointer;
}

.shortcut:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.info {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.infobtn {
  background-color: #7a8fab;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.15s ease;
}

.infobtn:hover {
  scale: 1.05;
  color: #b5cae0;
}

.daily-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.daily-content-box {
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
}

.daily-content-box h3 {
  color: #FFFFFF; 
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.daily-content-box p {
  margin: 5px 0;
  font-size: 1.1em;
  line-height: 1.4;
}

.quote-author {
  font-style: italic;
  color: #b5cae0;
  font-size: 0.9em;
}

#fetchDailyContentBtn {
  cursor: pointer;
  background-color: #87ceeb; 
  border: none;
  color: #282c34; 
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto", serif;
  font-size: 1em;
  border-radius: 8px;
  transition: all 0.15s ease;
}

#fetchDailyContentBtn:hover {
  transform: scale(1.06);
  border-radius: 6px;
}

#fetchDailyContentBtn:active {
  transform: scale(0.94);
  border-radius: 10px;
}
