body {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header button {
  background-color: #ffd700;
  border: none;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.header button.active {
  background-color: #f57c00;
}

.hidden {
  display: none;
}

.video-container {
  width: 100%;
  max-width: 800px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form__input {
  border-radius: 5px;
  background: #7a8fab;
  text-align: center;
  width: 50%;
  padding: 1vw;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  transition: 0.2s;
  margin: 0;
}

.form__input::placeholder {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  opacity: 0.8;
}

img {
  height: auto;
  max-height: 218px;
  width: 145px;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  border-radius: 25px;
  max-width: 145px;
}
img.ad {
  height: auto;
  max-height: none;
  width: auto;
  border: none;
  -ms-interpolation-mode: auto;
  vertical-align: baseline;
  border-radius: 0px;
  max-width: none;
}

.icon {
  border-radius: 25px;
}

.card {
  transition: 0.1s;
  width: 158px;
  background-color: transparent;
  margin: 16px;
  float: left;
}
.card:hover {
  color: rgb(164, 176, 176);
  scale: 1.2;
  transition: 0.2s;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container:hover .item-name {
  opacity: 1;
}

.item-name {
  font-family: "Inter", Arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 7.49px;
  width: 78.5%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  margin: 0px;
  opacity: 0;
  transition: opacity 0.2s;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  font-size: 12px;
}
.attribution {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
}
.attribution img {
  margin-left: 5px;
}

.popular {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
