@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  width: 100vw;
  height: 47.5px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.bar-left,
.bar-right {
  display: flex;
}

.bar-left {
  justify-content: flex-start;
}

.bar-right {
  justify-content: flex-end;
}
.icon {
  color: #cccccc;
  font-size: 15px;
}
.input-icon-container {
  position: relative;
  display: inline-block;
}
.search {
  display: flex;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  width: 75vw;
  height: 34px;
  top: 0;
  z-index: 100;
  border-radius: 15px;
  border: none;
  padding: 0px 35px;
  color: #cccccc;
}
.search:focus {
  outline: none;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.button {
  display: inline-block;
  border-radius: 100%;
  padding: 7px;
  transition: background-color 0.3s;
  text-align: center;
}
.button:hover {
  background-color: rgba(185, 185, 185, 0.178);
}

iframe {
  display: block;
  background: transparent;
  border: none;
  height: calc(100vh - 47.5px);
  width: 100vw;
  margin-top: 47.5px;
  z-index: 99999;
}

.navbtn {
  float: right;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.504);
  border: none;
  position: fixed;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  color: rgb(54, 54, 54);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body {
  background-color: #1c1c1c;
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

@media (max-width: 1400px) {
  .search {
    width: 60vw;
    transition: 0.5s;
  }
}

@media (max-width: 900px) {
  .search {
    width: 50vw;
    transition: 0.5s;
  }

  .icon {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .button {
    display: none;
    transition: opacity 0.5s ease;
  }
}
body.fullscreen-active .bar,
body.fullscreen-active .icon,
body.fullscreen-active .search,
body.fullscreen-active .search-icon,
body.fullscreen-active .navbtn {
  display: none;
}

/* Adjust the iframe height and margin-top when in fullscreen */
body.fullscreen-active iframe {
  height: 100vh;
  margin-top: 0;
}
