@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5e7594;
  color: white;
}

title {
  padding-top: 20%;
}

main {
  padding: 20px;
  overflow-wrap: break-word;
}

#gs {
  cursor: pointer;
  background-color: #413d3d;
  border: none;
  color: rgb(248, 244, 244);
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.15s ease;
}
#gs:hover {
  transform: scale(1.06);
  border-radius: 6px;
}
#gs:active {
  transform: scale(0.94);
  border-radius: 10px;
}

.gs {
  cursor: pointer;
  background-color: #413d3d;
  border: none;
  color: rgb(248, 244, 244);
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.15s ease;
}
.gs:hover {
  transform: scale(1.06);
  border-radius: 6px;
}
.gs:active {
  transform: scale(0.94);
  border-radius: 10px;
}

.horizontal-items {
  display: flex;
  justify-content: left;
}

a {
  color: #f1a727; /* change to match your theme */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #f1d41d; /* change to match your theme */
}

/* Scrollbar settings */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
  transform: background 0.1s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
