.playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: 0.3s
}

.playbutton:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
}

body {
    background-color: #4B5E76;
}