@font-face {
  font-family: 'ctl-multiplayer-icons';
  src: url('../font/ctl-multiplayer-icons.eot?31600874');
  src: url('../font/ctl-multiplayer-icons.eot?31600874#iefix') format('embedded-opentype'),
       url('../font/ctl-multiplayer-icons.woff2?31600874') format('woff2'),
       url('../font/ctl-multiplayer-icons.woff?31600874') format('woff'),
       url('../font/ctl-multiplayer-icons.ttf?31600874') format('truetype'),
       url('../font/ctl-multiplayer-icons.svg?31600874#ctl-multiplayer-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ctl-multiplayer-icons';
    src: url('../font/ctl-multiplayer-icons.svg?31600874#ctl-multiplayer-icons') format('svg');
  }
}
*/
 
 [class^="ctl-multiplayer-icons-"]:before, [class*=" ctl-multiplayer-icons-"]:before {
  font-family: "ctl-multiplayer-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ctl-multiplayer-icons-lock:before { content: '\e800'; } /* '' */
.ctl-multiplayer-icons-lock-open:before { content: '\e801'; } /* '' */
.ctl-multiplayer-icons-block:before { content: '\e802'; } /* '' */
.ctl-multiplayer-icons-arrows-cw:before { content: '\e803'; } /* '' */
.ctl-multiplayer-icons-login:before { content: '\e804'; } /* '' */
.ctl-multiplayer-icons-cancel:before { content: '\e805'; } /* '' */
.ctl-multiplayer-icons-spin5:before { content: '\e838'; } /* '' */
.ctl-multiplayer-icons-help:before { content: '\f128'; } /* '' */
.ctl-multiplayer-icons-attention-alt:before { content: '\f12a'; } /* '' */