
.orientation-msg-container{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: #000;
}

.orientation-msg-text{
    font-size: 40px;
    color: #fff;
    text-align: center;
    width: 80%;
    
    position: fixed;
    top: 50%;
    -webkit-transform: translate(15%,-50%);
    -moz-transform: translate(15%,-50%);
    -ms-transform: translate(15%,-50%);
    transform: translate(15%,-50%);
    
        
}

@media (max-width: 767px) {
    .orientation-msg-text{    
        font-size: 30px;  
    }
}


@media (max-width: 500px) {
    .orientation-msg-text{    
        font-size: 30px;  
    }
}