
.customization {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.customization > .top {
	display: block;
	margin: 0;
	padding: 0;
	background-color: var(--surface-color);
}
.customization > .top > .button {
	display: inline-block;
	margin: 8px 0;
}
.customization > .top > .button:first-of-type {
	margin-left: 8px;
}

.customization > .colors {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	white-space: nowrap;
}

.customization > .colors > div {
	display: inline-block;
	margin: 0 10px;
	padding: 0;
	text-align: center;
	background: var(--surface-color);
	pointer-events: auto;
}
.customization > .colors > div > div {
	margin: 0 auto;
}
.customization > .colors > div > h2 {
	margin: 0;
	padding: 2px;
	font-size: 30px;
	font-weight: normal;
	background-color: var(--surface-secondary-color);
	color: var(--text-color);
}

.customization .IroColorPicker {
	margin: 14px !important;
}
.customization .IroColorPicker > .IroBox > .IroBox {
	border-radius: 0 !important;
}
.customization .IroSlider, .customization .IroSliderGradient {
	border-radius: 0 !important;
}