
.editor-checkpoint-order {
	position: absolute;
	right: 176px;
	bottom: 0;
}

.editor-checkpoint-order > .buttons {
	display: inline-block;
	vertical-align: bottom;
}
.editor-checkpoint-order > .buttons > button {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	background-color: var(--button-color);
	pointer-events: auto;
	cursor: pointer;
}
.editor-checkpoint-order > .buttons > button:hover {
	background-color: var(--button-hover-color);
}
.editor-checkpoint-order > .buttons > button:active {
	background-color: var(--button-active-color);
}

.editor-checkpoint-order > .buttons > button > img {
	margin: 0;
	padding: 0 6px;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

.editor-checkpoint-order > p {
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	vertical-align: bottom;
	line-height: 40px;
	min-width: 275px;
	font-size: 26px;
	text-align: center;
	background-color: var(--surface-transparent-color);
	color: var(--text-color);
}