
.editor {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.editor > .top {
	display: block;
	margin: 0;
	padding: 0;
}

.editor > .top > .button-bar {
	margin: 0;
	padding: 0 0 0 8px;
	height: 68px;
	background-color: var(--surface-color);
	white-space: nowrap;
}
.editor > .top > .button-bar > .button {
	margin: 8px 0;
}

.editor > .top > .trackname-input {
	display: inline-block;
	margin: 0;
	padding: 6px 7px;
	clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
	font-size: 30px;
	color: var(--text-color);
	background: var(--surface-secondary-color);
}
.editor > .top > .trackname-input > input {
	font-weight: normal;
	font-size: 30px;
}

.editor > .side {
	position: absolute;
	top: 68px;
	right: 0;
	margin: 0;
	padding: 0;
	height: calc(100% - 68px);
	background-color: var(--surface-secondary-color);
	overflow-x: hidden;
	overflow-y: scroll;
	pointer-events: auto;
}
.editor > .side > button {
	display: block;
	margin: 8px;
	padding: 10px;
	background-color: var(--button-color);
	border: 2px solid rgb(38, 31, 88);
	cursor: pointer;
}
.editor > .side > button:hover {
	background-color: var(--button-hover-color);
}
.editor > .side > button:active {
	background-color: var(--button-active-color);
}
.editor > .side > button.selected {
	background-color: var(--button-active-color);
	box-shadow: inset 0 0 5px rgb(255, 202, 102);
	border: 2px solid rgb(255, 202, 102);
}
.editor > .side > button > img {
	display: block;
	margin: 0;
	padding: 0;
	width: 128px;
	-webkit-filter: drop-shadow(0 0 2px #000);
	filter: drop-shadow(0 0 2px #000);
	pointer-events: none;
}

.editor > .message-box {
	margin: 10px;
	padding: 0;
	position: absolute;
	font-size: 30px;
	color: #ff9696;
	text-shadow: 0 0 5px #000;
	pointer-events: none;

	left: -10px;
	opacity: 0;
}
.editor > .message-box.green {
	color: #96ff96;
}
.editor > .message-box.show {
	left: 0;
	opacity: 1;
	transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}
.editor > .message-box.hide {
	left: 0;
	opacity: 0;
	transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}