
.hint {
	margin: 10px;
	padding: 0;
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #fff;
	text-shadow: 0 0 5px #000;
	pointer-events: none;

	opacity: 0;
}
.hint.show {
	top: 50px;
	opacity: 1;
	transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out;
}
.hint.hide {
	top: 40px;
	opacity: 0;
	transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out;
}