
.leaderboard {
	margin: 0;
	padding: 0;
	width: 600px;
	height: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	background-color: var(--surface-color);
}

.leaderboard > h2 {
	margin: 10px;
	padding: 0;
	font-weight: normal;
	font-size: 38px;
	text-align: center;
	color: var(--text-color);
}

.leaderboard > .container {
	margin: 0;
	padding: 0;
	flex-grow: 1;
	background-color: var(--surface-secondary-color);
	overflow-y: scroll;
	pointer-events: auto;
}

.leaderboard > .container > .loading-spinner {
	margin: 50% auto;
}

.leaderboard > .container > .error-message {
	font-size: 20px;
	text-align: center;
	color: var(--text-color);
}

.leaderboard > .container > button {
	margin: 10px 10px 0 10px;
	padding: 0;
	vertical-align: top;
	width: calc(100% - 2 * 10px);
	height: 100px;
	clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
	text-align: left;
	white-space: nowrap;
}

.leaderboard > .container > button:last-of-type {
	margin-bottom: 10px;
}

.leaderboard > .container > button:disabled {
	background-color: var(--button-hover-color);
}

.leaderboard > .container > button > img {
	background-color: rgba(0, 0, 0, 0.1);
	width: 100px;
	height: 100px;
}

.leaderboard > .container > button > .left, .leaderboard > .container > button > .right {
	display: inline-block;
	vertical-align: top;
}

.leaderboard > .container > button > div > p {
	margin: 0;
	padding: 12px;
	font-size: 28px;
	color: var(--text-color);
}

.leaderboard > .container > button > div > .name {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 300px;
}

.leaderboard > .container > button > div > .verified-state {
	opacity: 0.8;
	position: absolute;
	right: 6px;
	margin: 6px 0 0 0;
	font-size: 18px;
}
.leaderboard > .container > button > div > .verified-state > img {
	margin: 0 0 0 2px;
	padding: 0;
	height: 12px;
	vertical-align: middle;
}
.leaderboard > .container > button > div > .verified-state.verified {
	color: #5f5;
}
.leaderboard > .container > button > div > .verified-state.invalid {
	color: #f55;
}
.leaderboard > .container > button > div > .verified-state.pending {
	color: #ff5;
}

.leaderboard > .pages {
	margin: 10px 10px 0 10px;
	display: flex;
	flex-direction: row;
}
.leaderboard > .pages > button.page {
	padding: 0;
	width: 0;
	flex-grow: 1;
}
.leaderboard > .pages > button.selected {
	background-color: var(--button-hover-color);
}

.leaderboard > .button-wrapper > .back {
	margin: 10px;
}