
.loading {
	margin: 200px 0 0 0;
	padding: 0;
}

.loading > p {
	margin: 5px;
	padding: 0;
	color: var(--text-color);
	font-size: 32px;
}

.loading > div {
	margin: 0 auto;
	padding: 0;
	width: 600px;
	height: 50px;
	background-color: var(--surface-color);
	clip-path: polygon(9px 0, 100% 0, calc(100% - 9px) 100%, 0 100%);
	overflow: hidden;
}

.loading > div > div {
	margin: 15px 20px;
	padding: 0;
	width: 560px;
	height: 20px;
	clip-path: polygon(3px 0, 100% 0, calc(100% - 3px) 100%, 0 100%);
	background-color: #224;
	box-shadow: inset 0 0 6px #000;
}

.loading > div > div > div {
	margin: 0;
	padding: 0;
	width: 0;
	height: 100%;
	clip-path: polygon(2px 0, 100% 0, calc(100% - 2px) 100%, 0 100%);
	background-color: #fff;
	box-shadow: inset 0 0 6px #000;
}