
.loading-spinner {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 5px solid var(--surface-tertiary-color);
	border-left-color: var(--text-color);

	animation: 1s linear infinite forwards loading-spinner-spin;
}

@keyframes loading-spinner-spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}