
.message-box > .background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(20, 20, 30, 0.5);
	pointer-events: auto;
}

.message-box > .box {
	position: absolute;
	left: calc(50% - 500px / 2);
	top: 30%;
	z-index: 2;
	margin: 0;
	padding: 16px;
	width: 500px;
	box-sizing: border-box;
	background-color: var(--surface-color);
	text-align: center;
}

.message-box > .box > p {
	margin: 5px 0 20px 0;
	padding: 0;
	min-height: 50px;
	line-height: 0.9;
	font-size: 32px;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	color: var(--text-color);
}

.message-box.message > .box > button:first-of-type {
	display: none;
}

.message-box.confirm > .box > button:first-of-type {
	float: left;
}
.message-box.confirm > .box > button:last-of-type {
	float: right;
}

.message-box > .box > button {
	min-width: 140px;
}