
.nickname {
	position: absolute;
	left: calc(50% - 500px / 2);
	top: 40%;
	z-index: 2;
	margin: 0;
	padding: 16px;
	width: 500px;
	box-sizing: border-box;
	background-color: var(--surface-color);
}

.nickname > h1 {
	margin: 0 4px 0 4px;
	padding: 0;
	font-size: 35px;
	font-weight: normal;
	color: var(--text-color);
}

.nickname > input[type=text] {
	display: block;
	margin: 0;
	padding: 0.25em;
	box-sizing: border-box;
	width: 100%;
	font-size: 36px;
	font-weight: normal;
}

.nickname > p {
	margin: 16px 4px 0 4px;
	padding: 0;
	font-size: 20px;
	color: var(--text-color);
}

.nickname > button {
	display: inline-block;
	margin: 16px 0 0 0;
}
.nickname > button:last-of-type {
	float: right;
}

button.nickname-verifier-button {
	position: absolute;
	left: 0;
	bottom: 22px;
	margin: 0 4px;
}

.nickname-user-token {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0 4px;
	text-align: left;
	font-size: 18px;
	opacity: 0.5;
	color: var(--text-color);
	pointer-events: all;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}