
.time-announcer {
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	overflow: hidden;
}

.time-announcer > .record {
	margin: 0;
	padding: 0;
	font-size: 48px;
	text-shadow: 0 0 5px #000;
	color: #5f5;
	text-align: center;
	opacity: 0;
	animation: 0.3s ease-out 0.8s 1 normal forwards running time-announcer-record-animation;
}

.time-announcer > .current {
	margin: 0;
	padding: 0;
	width: 0;
	background-color: var(--surface-color);
	font-size: 48px;
	color: var(--text-color);
	text-align: center;
	animation: 0.3s ease-out 0s 1 normal forwards running time-announcer-animation;
}
.time-announcer > .difference > p {
	margin: 0 0 0 auto;
	padding: 0;
	width: 0;
	background-color: var(--surface-secondary-color);
	color: #5f5;
	font-size: 30px;
	text-align: center;
	animation: 0.3s ease-out 0.3s 1 normal forwards running time-announcer-animation;
}
.time-announcer > .difference.red > p {
	color: #f55;
}
.time-announcer > .difference > p.title {
	margin-top: 30px;
	background-color: transparent;
	text-shadow: 0 0 3px #000;
}

@keyframes time-announcer-record-animation {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
	}
}

@keyframes time-announcer-animation {
	from {
		width: 0;
		opacity: 0;
	}

	to {
		width: 100%;
		opacity: 1;
	}
}