
.track-export > .background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(20, 20, 30, 0.5);
	pointer-events: auto;
}

.track-export > .box {
	position: absolute;
	left: calc(50% - 80% / 2);
	top: 20px;
	z-index: 2;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	width: 80%;
	height: calc(100% - 20px * 2);
	background-color: var(--surface-color);
}
.track-export.menu-track-export > .box {
	top: 300px;
	height: calc(100% - 300px - 20px);
}

.track-export > .box > .bar {
	text-align: left;
	pointer-events: auto;
}
.track-export > .box > .bar > .button.right {
	float: right;
}

.track-export > .box > textarea {
	margin: 10px 0 0 0;
	padding: 10px;
	box-sizing: border-box;
	min-width: 100%;
	max-width: 100%;
	min-height: calc(100% - 52px - 10px);
	max-height: calc(100% - 52px - 10px);
	pointer-events: auto;
	background-color: var(--surface-tertiary-color);
	border: none;
	resize: none;
	color: var(--text-color);
	word-break: break-all;
	font-size: 20px;
}
.track-export > .box > textarea:focus-visible {
	outline: none;
}