
.track-info {
	position: absolute;
	left: calc(50% - 1050px / 2);
	top: 0;
	z-index: 2;
	display: flex;
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 100%;
}

.track-info > .side-panel {
	position: relative;
	display: inline-block;
	margin-left: 50px;
	width: 400px;
	
	background-color: var(--surface-color);
}

.track-info > .side-panel > h2 {
	margin: 10px 10px 0 10px;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: 38px;
	text-align: center;
	color: var(--text-color);
}


.track-info > .side-panel > .thumbnail {
	margin: 10px 0 0 0;
	padding: 40px;
	background-color: var(--surface-secondary-color);
}

.track-info > .side-panel > .thumbnail > canvas {
	margin: 0;
	padding: 0;
	width: 300px;
	height: 300px;
	object-fit: contain;
	-webkit-filter: drop-shadow(0 0 3px #000);
	filter: drop-shadow(0 0 3px #000);
	image-rendering: pixelated;
}

.track-info > .side-panel > p {
	margin: 16px 0;
	padding: 0;
	font-size: 32px;
	color: var(--text-color);
}

.track-info > .side-panel > .button.play {
	position: absolute;
	bottom: 10px;
	left: 0;
	margin: 10px 10px 0 10px;
	padding: 0 0 0 30px;
	box-sizing: border-box;
	width: calc(100% - 2 * 10px);
	height: 100px;
	clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
	text-align: center;
	font-size: 50px;
}

.track-info > .side-panel > .button.play > img {
	margin: 0 0 0 10px;
	padding: 0;
	vertical-align: middle;
	width: 48px;
	transition: transform 0.2s ease-in-out;
	pointer-events: none;
}

.track-info > .side-panel > .button.play:hover > img {
	transform: translateX(10px);
}

.track-info > .side-panel > .back {
	margin: 10px;
}

.track-info > .side-panel > .leaderboard-button {
	margin: 10px;
	float: right;
}