
.verifier-ui {
	position: absolute;
	left: calc(50% - 500px / 2);
	top: 0;
	z-index: 2;
	margin: 0;
	padding: 16px;
	width: 500px;
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	background-color: var(--surface-color);
	pointer-events: auto;
}

.verifier-ui > p {
	margin: 16px 4px 0 4px;
	padding: 0;
	font-size: 20px;
	color: var(--text-color);
	white-space: pre-wrap;
}

.verifier-ui > button {
	display: inline-block;
	margin: 16px 0 0 0;
}