@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");


.form__input {
  padding: 1.3vw;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #7a8fab;
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  transition: 0.2s;
  margin: 0;
}

.form__input::placeholder {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  opacity: 0.4;
}

.form_input:hover {
  width: 53%;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  width: 60%;
}
