@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");


.form__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  top: 50%;
  width: 50%;
  padding: 1vw;
  border: none;
  border-radius: 10px;
  text-align: center;
  outline: none;
  color: rgb(0, 0, 0);
  margin: 0;
  position: absolute;
  left: 50%;
  transition: 0.5s;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form__input::placeholder {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  opacity: 0.4;
}

.form_input:hover {
  width: 53%;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  width: 60%;
}
