body {
	margin:0px;
	padding:0px;
	position: absolute; 
	height:100%;
	width:100%;
	background-size:cover;
	font-style: regular;
	font-family:"Myriad Pro", Myriad,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#unity-container {
	padding:0px;
	position:absolute;
	height:100vh;
	width:100vw;
	background-color:#121214;
}

#unity-container.unity-desktop {
	position:absolute;
	height:100%;
	width:100%;
}
#unity-canvas {
	position:absolute;
	height:100%;
	width:100%;
}

#unity-fullscreen-button {
	height:32px;
	width:32px;
	position:absolute;
	z-index:1;
	bottom:0px;
	right:0px;
	background-color:transparent;
	background-image:url("fullscreen-button-out.png");
	background-repeat: no-repeat;
	background-position: center;
	border:none;
	cursor: pointer;
	opacity: 0.333;
	padding: 24px;
}

#unity-fullscreen-button:hover{
	opacity: 1.0;
}

#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-progress-bar-empty { width: 256px; height: 20px; background: url('progress-bar-empty.png') no-repeat left }
#unity-progress-bar-full { width: 0%; height: 20px; background: url('progress-bar-full.png') no-repeat left }

#unity-container.unity-mobile { width: 100%; height: 100% }
.unity-mobile #unity-footer { display: none }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
