/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:f69b656c7b7c0e1f4ed816165e921f8f:17b611581cb5c9bc31ce931315d47745:9028c7ef7797f42af903060f44b312fb$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(ingame_ui.png);}

.PopUp_Background {width:641px; height:826px; background-position: -0px -0px}
.chef_hire-Btn_Padlock_Closed {width:72px; height:72px; background-position: -1289px -1752px}
.chef_hire-Btn_Padlock_Closed_Pressed {width:72px; height:72px; background-position: -1657px -737px}
.chef_hire-Btn_Padlock_Opened {width:72px; height:72px; background-position: -1911px -1677px}
.chef_hire-Btn_Padlock_Opened_Pressed {width:72px; height:72px; background-position: -982px -1835px}
.chef_hire-Hire-Chef-Bubblebox {width:215px; height:227px; background-position: -1166px -443px}
.chef_hire-button_state_01 {width:183px; height:82px; background-position: -1516px -1249px}
.chef_hire-button_state_01_pressed {width:183px; height:82px; background-position: -391px -1920px}
.chef_hire-button_state_02 {width:166px; height:82px; background-position: -1745px -1677px}
.chef_hire-button_state_02_pressed {width:166px; height:82px; background-position: -816px -1869px}
.chef_hire-button_state_04 {width:181px; height:82px; background-position: -816px -1951px}
.chef_hire-button_state_04_pressed {width:181px; height:82px; background-position: -1699px -1240px}
.chef_upgrade_popup-Ads_Icon {width:40px; height:30px; background-position: -1125px -790px}
.chef_upgrade_popup-Arrow_icon-for-Btn {width:32px; height:41px; background-position: -1657px -809px}
.chef_upgrade_popup-BigStar {width:119px; height:119px; background-position: -1632px -618px}
.chef_upgrade_popup-Btn_Close {width:72px; height:72px; background-position: -997px -1951px}
.chef_upgrade_popup-Btn_Close_Pressed {width:72px; height:72px; background-position: -1943px -1749px}
.chef_upgrade_popup-Btn_Green {width:132px; height:66px; background-position: -1200px -1834px}
.chef_upgrade_popup-Btn_Green_Pressed {width:132px; height:66px; background-position: -1519px -1827px}
.chef_upgrade_popup-Btn_Grey {width:132px; height:66px; background-position: -1651px -1834px}
.chef_upgrade_popup-Btn_Grey_Pressed {width:132px; height:66px; background-position: -1519px -1893px}
.chef_upgrade_popup-Btn_Orange_upgrade {width:216px; height:82px; background-position: -1166px -670px}
.chef_upgrade_popup-Btn_Orange_upgrade_Pressed {width:216px; height:82px; background-position: -857px -1726px}
.chef_upgrade_popup-Claim-Text {width:74px; height:21px; background-position: -1706px -212px}
.chef_upgrade_popup-Coin_Icon-For-Btn {width:27px; height:27px; background-position: -1915px -1866px}
.chef_upgrade_popup-Food-List-Background {width:519px; height:90px; background-position: -1187px -212px}
.chef_upgrade_popup-GetNewStar_Background {width:546px; height:415px; background-position: -641px -0px}
.chef_upgrade_popup-GetNewStar_Content_Text {width:369px; height:69px; background-position: -1187px -374px}
.chef_upgrade_popup-GetNewStar__Text {width:343px; height:40px; background-position: -471px -1534px}
.chef_upgrade_popup-Lock_icon {width:24px; height:30px; background-position: -1516px -1204px}
.chef_upgrade_popup-Orange-Box {width:65px; height:40px; background-position: -1982px -826px}
.chef_upgrade_popup-Red-Btn {width:138px; height:74px; background-position: -1787px -1432px}
.chef_upgrade_popup-Red-Btn_Pressed {width:138px; height:74px; background-position: -1868px -752px}
.chef_upgrade_popup-Reset-Text {width:65px; height:22px; background-position: -365px -1552px}
.chef_upgrade_popup-Small-Coin-Icon {width:19px; height:18px; background-position: -1078px -1216px}
.chef_upgrade_popup-SmallStar_V1 {width:64px; height:64px; background-position: -1885px -1613px}
.chef_upgrade_popup-SmallStar_V2 {width:64px; height:64px; background-position: -1944px -333px}
.chef_upgrade_popup-Upgrade-Text {width:128px; height:27px; background-position: -1798px -1211px}
.chef_upgrade_popup-btn_red {width:132px; height:66px; background-position: -1651px -1900px}
.chef_upgrade_popup-btn_red_pressed {width:132px; height:66px; background-position: -1783px -1866px}
.chef_upgrade_popup-buttons-button_state_01 {width:147px; height:65px; background-position: -1361px -1763px}
.chef_upgrade_popup-buttons-button_state_01_pressed {width:147px; height:65px; background-position: -1689px -823px}
.chef_upgrade_popup-buttons-button_state_02 {width:133px; height:66px; background-position: -1798px -1049px}
.chef_upgrade_popup-buttons-button_state_02_pressed {width:133px; height:66px; background-position: -1798px -1115px}
.chef_upgrade_popup-buttons-button_state_03 {width:145px; height:65px; background-position: -1796px -892px}
.chef_upgrade_popup-buttons-button_state_03_pressed {width:145px; height:65px; background-position: -1796px -957px}
.chef_upgrade_popup-buttons-button_state_04 {width:146px; height:66px; background-position: -1556px -374px}
.chef_upgrade_popup-buttons-button_state_04_pressed {width:146px; height:66px; background-position: -1836px -826px}
.chef_upgrade_popup-buttons-button_state_05 {width:133px; height:66px; background-position: -1067px -1834px}
.chef_upgrade_popup-buttons-button_state_05_pressed {width:133px; height:66px; background-position: -1332px -1828px}
.chef_upgrade_popup-chef_preview-BW_chef01 {width:122px; height:174px; background-position: -1751px -574px}
.chef_upgrade_popup-chef_preview-BW_chef02 {width:143px; height:174px; background-position: -1542px -1075px}
.chef_upgrade_popup-chef_preview-BW_chef03 {width:117px; height:175px; background-position: -1670px -1331px}
.chef_upgrade_popup-chef_preview-BW_profile_background {width:221px; height:196px; background-position: -471px -1238px}
.chef_upgrade_popup-chef_preview-IM_chef01 {width:140px; height:176px; background-position: -1252px -1368px}
.chef_upgrade_popup-chef_preview-IM_chef02 {width:141px; height:175px; background-position: -1529px -1331px}
.chef_upgrade_popup-chef_preview-IM_chef03 {width:131px; height:177px; background-position: -1873px -398px}
.chef_upgrade_popup-chef_preview-IM_profile_background {width:222px; height:196px; background-position: -677px -824px}
.chef_upgrade_popup-chef_preview-IR_chef01 {width:113px; height:171px; background-position: -1685px -1069px}
.chef_upgrade_popup-chef_preview-IR_chef02 {width:114px; height:171px; background-position: -1771px -1506px}
.chef_upgrade_popup-chef_preview-IR_chef03 {width:117px; height:175px; background-position: -1679px -894px}
.chef_upgrade_popup-chef_preview-IR_profile_background {width:222px; height:196px; background-position: -899px -824px}
.chef_upgrade_popup-chef_preview-LD_chef01 {width:123px; height:178px; background-position: -1614px -440px}
.chef_upgrade_popup-chef_preview-LD_chef02 {width:137px; height:171px; background-position: -1392px -1517px}
.chef_upgrade_popup-chef_preview-LD_chef03 {width:136px; height:176px; background-position: -1737px -398px}
.chef_upgrade_popup-chef_preview-LD_profile_background {width:222px; height:196px; background-position: -677px -1020px}
.chef_upgrade_popup-chef_preview-TM_chef01 {width:163px; height:173px; background-position: -917px -1389px}
.chef_upgrade_popup-chef_preview-TM_chef02 {width:123px; height:177px; background-position: -1873px -575px}
.chef_upgrade_popup-chef_preview-TM_chef03 {width:164px; height:173px; background-position: -914px -1216px}
.chef_upgrade_popup-chef_preview-TM_profile_background {width:222px; height:196px; background-position: -899px -1020px}
.chef_upgrade_popup-chef_preview-VH_chef01 {width:137px; height:181px; background-position: -1542px -894px}
.chef_upgrade_popup-chef_preview-VH_chef02 {width:137px; height:180px; background-position: -1392px -1337px}
.chef_upgrade_popup-chef_preview-VH_chef03 {width:137px; height:183px; background-position: -254px -1787px}
.chef_upgrade_popup-chef_preview-VH_profile_background {width:222px; height:196px; background-position: -692px -1216px}
.events-food_blogger_event-Activate-Text {width:135px; height:27px; background-position: -254px -1970px}
.events-food_blogger_event-Ads_Icon {width:40px; height:30px; background-position: -1125px -790px}
.events-food_blogger_event-Btn_Activate {width:242px; height:82px; background-position: -1165px -752px}
.events-food_blogger_event-Btn_Activate_Pressed {width:242px; height:82px; background-position: -819px -1562px}
.events-food_blogger_event-Btn_Close {width:72px; height:72px; background-position: -997px -1951px}
.events-food_blogger_event-Btn_Close_Pressed {width:72px; height:72px; background-position: -1943px -1749px}
.events-food_blogger_event-Food-Critic-Images {width:365px; height:235px; background-position: -0px -1552px}
.events-food_blogger_event-Icon-Bar-Food-Blogger--PurpleBar {width:134px; height:134px; background-position: -1249px -1234px}
.events-food_blogger_event-Icon-Bar-Food-Blogger-Background {width:206px; height:206px; background-position: -471px -826px}
.events-food_blogger_event-Icon-Bar-Food-Blogger-Icon {width:99px; height:99px; background-position: -1948px -234px}
.events-happy_hour_event-Activate-Text {width:135px; height:27px; background-position: -254px -1970px}
.events-happy_hour_event-Ads_Icon {width:40px; height:30px; background-position: -1125px -790px}
.events-happy_hour_event-Btn_Activate {width:242px; height:82px; background-position: -1165px -752px}
.events-happy_hour_event-Btn_Activate_Pressed {width:242px; height:82px; background-position: -819px -1562px}
.events-happy_hour_event-Btn_Close {width:72px; height:72px; background-position: -997px -1951px}
.events-happy_hour_event-Btn_Close_Pressed {width:72px; height:72px; background-position: -1943px -1749px}
.events-happy_hour_event-Happy-Hour-Icon {width:254px; height:253px; background-position: -0px -1787px}
.events-happy_hour_event-Happy-Hour-Icon-Happy-Hour-Background {width:206px; height:206px; background-position: -471px -1032px}
.events-happy_hour_event-Happy-Hour-Icon-Happy-Hour-Icon {width:99px; height:98px; background-position: -1289px -1654px}
.events-happy_hour_event-Happy-Hour-Icon-Happy-Hour-Orange-Bar {width:133px; height:133px; background-position: -1383px -1204px}
.food-american-Food_PopUp_Bacon_Burger {width:49px; height:52px; background-position: -1995px -974px}
.food-american-Food_PopUp_Cheeseburger {width:49px; height:47px; background-position: -1287px -2001px}
.food-american-Food_PopUp_Chicken {width:58px; height:41px; background-position: -1180px -1960px}
.food-american-Food_PopUp_Cream_Cone {width:28px; height:57px; background-position: -1987px -1893px}
.food-american-Food_PopUp_Double_Decker {width:50px; height:52px; background-position: -1925px -1427px}
.food-american-Food_PopUp_Fries {width:40px; height:52px; background-position: -1945px -1375px}
.food-american-Food_PopUp_Milkshake {width:31px; height:59px; background-position: -746px -1989px}
.food-american-Food_PopUp_Onion_Rings {width:53px; height:43px; background-position: -1991px -1660px}
.food-american-Food_PopUp_Pancake {width:52px; height:50px; background-position: -1995px -866px}
.food-american-Food_PopUp_Simple_Hamburger {width:51px; height:45px; background-position: -1996px -575px}
.food-american-Food_PopUp_Steak {width:58px; height:40px; background-position: -1392px -1960px}
.food-american-Food_PopUp_Waffle {width:58px; height:33px; background-position: -1928px -1191px}
.food-indian-Food_PopUp_Basmati_Egg_Rice {width:55px; height:39px; background-position: -1519px -1959px}
.food-indian-Food_PopUp_Beef_Palak {width:53px; height:47px; background-position: -1181px -2001px}
.food-indian-Food_PopUp_Beef_Rezala {width:56px; height:38px; background-position: -1991px -1388px}
.food-indian-Food_PopUp_Beef_Rogan_Josh {width:53px; height:46px; background-position: -1983px -1703px}
.food-indian-Food_PopUp_Butter_Chicken {width:54px; height:47px; background-position: -1941px -976px}
.food-indian-Food_PopUp_Chicken_Tikka_Masala {width:55px; height:48px; background-position: -1392px -2000px}
.food-indian-Food_PopUp_Garlic_Naan {width:54px; height:51px; background-position: -1465px -1912px}
.food-indian-Food_PopUp_Lamb_Korma {width:53px; height:47px; background-position: -1234px -2001px}
.food-indian-Food_PopUp_Lamb_Madras_Curry {width:53px; height:46px; background-position: -1629px -1966px}
.food-indian-Food_PopUp_Lamb_Vindaloo {width:53px; height:46px; background-position: -1682px -1966px}
.food-indian-Food_PopUp_Tandoori_Chicken {width:56px; height:34px; background-position: -1991px -1570px}
.food-indian-Food_PopUp_Zafrani_Pulao_Rice {width:55px; height:39px; background-position: -1574px -1959px}
.food-italian-Food_PopUp_1-4_slice_of_a_Ham_and_Cheese_pizza {width:56px; height:36px; background-position: -1991px -1426px}
.food-italian-Food_PopUp_1-4_slice_of_a_Mushroom_pizza {width:56px; height:36px; background-position: -1991px -1462px}
.food-italian-Food_PopUp_1-4_slice_of_a_Quattro_Formaggi_pizza {width:56px; height:36px; background-position: -1991px -1498px}
.food-italian-Food_PopUp_1-4_slice_of_a_Spinach_pizza {width:56px; height:36px; background-position: -1991px -1534px}
.food-italian-Food_PopUp_Chocolate_Ice_Cream {width:40px; height:54px; background-position: -1945px -1321px}
.food-italian-Food_PopUp_Gnocchis {width:42px; height:46px; background-position: -1735px -1966px}
.food-italian-Food_PopUp_Maccheroni_Bolognese {width:56px; height:49px; background-position: -1991px -1250px}
.food-italian-Food_PopUp_Pistachio_Ice_Cream {width:40px; height:54px; background-position: -2004px -453px}
.food-italian-Food_PopUp_Ricotta_Ravioli {width:54px; height:44px; background-position: -982px -1907px}
.food-italian-Food_PopUp_Spaghetti_Carbonara {width:56px; height:40px; background-position: -1991px -1348px}
.food-italian-Food_PopUp_Strawberry_Ice_Cream {width:28px; height:53px; background-position: -2015px -1806px}
.food-italian-Food_PopUp_Vanilla_Ice_Cream {width:35px; height:54px; background-position: -2004px -507px}
.food-japan-Food_PopUp_Ika_Sushi {width:50px; height:46px; background-position: -1828px -1998px}
.food-japan-Food_PopUp_Ikura_Sushi {width:55px; height:55px; background-position: -1144px -1900px}
.food-japan-Food_PopUp_Kappa_Maki {width:57px; height:54px; background-position: -1931px -1137px}
.food-japan-Food_PopUp_Nato_Maki {width:53px; height:56px; background-position: -1991px -1604px}
.food-japan-Food_PopUp_Ramen {width:55px; height:48px; background-position: -1447px -2000px}
.food-japan-Food_PopUp_Sake_Sushi {width:55px; height:47px; background-position: -1126px -2001px}
.food-japan-Food_PopUp_Shinko_Maki {width:53px; height:57px; background-position: -1253px -1900px}
.food-japan-Food_PopUp_Soba {width:54px; height:29px; background-position: -1783px -1834px}
.food-japan-Food_PopUp_Somen {width:57px; height:38px; background-position: -1299px -1963px}
.food-japan-Food_PopUp_Tamago {width:57px; height:40px; background-position: -1934px -1224px}
.food-japan-Food_PopUp_Tekka_Maki {width:54px; height:57px; background-position: -1199px -1900px}
.food-japan-Food_PopUp_Udon {width:56px; height:49px; background-position: -1991px -1299px}
.food-mexico-Food_PopUp_Agua_de_Horchata {width:37px; height:56px; background-position: -2008px -333px}
.food-mexico-Food_PopUp_Burrito {width:57px; height:47px; background-position: -1069px -2001px}
.food-mexico-Food_PopUp_Guacamole {width:54px; height:46px; background-position: -517px -2002px}
.food-mexico-Food_PopUp_Margarita {width:37px; height:53px; background-position: -777px -1971px}
.food-mexico-Food_PopUp_Mexican_Hot_Chocolate {width:48px; height:57px; background-position: -1934px -1264px}
.food-mexico-Food_PopUp_Michelada {width:33px; height:56px; background-position: -2004px -397px}
.food-mexico-Food_PopUp_Molletes_de_Frijoles {width:57px; height:28px; background-position: -814px -1534px}
.food-mexico-Food_PopUp_Nachos {width:57px; height:37px; background-position: -1450px -1963px}
.food-mexico-Food_PopUp_Ponche {width:42px; height:58px; background-position: -1949px -1613px}
.food-mexico-Food_PopUp_Quesadilla {width:57px; height:52px; background-position: -1087px -1900px}
.food-mexico-Food_PopUp_Salsa_Picante {width:54px; height:46px; background-position: -1126px -1955px}
.food-mexico-Food_PopUp_Taco {width:48px; height:58px; background-position: -1995px -916px}
.food-mexico-Food_PopUp_Tequila {width:29px; height:57px; background-position: -2015px -1749px}
.food-mexico-Food_PopUp_Tortilla {width:56px; height:52px; background-position: -1991px -1198px}
.food-mexico-Food_PopUp_Virgin-Margarita {width:41px; height:55px; background-position: -2006px -752px}
.food-vegan_restaurant-Food_PopUp_Broccoli_Salad {width:59px; height:45px; background-position: -1988px -1026px}
.food-vegan_restaurant-Food_PopUp_Brocoli_Soup {width:57px; height:49px; background-position: -1069px -1952px}
.food-vegan_restaurant-Food_PopUp_Caprese_Salad {width:59px; height:43px; background-position: -1988px -1071px}
.food-vegan_restaurant-Food_PopUp_Cream_of_Mashroom_Soup {width:59px; height:42px; background-position: -1988px -1114px}
.food-vegan_restaurant-Food_PopUp_Creamy_Tomato_Soup {width:51px; height:44px; background-position: -1996px -620px}
.food-vegan_restaurant-Food_PopUp_Greek_Salad {width:61px; height:36px; background-position: -1915px -1965px}
.food-vegan_restaurant-Food_PopUp_Hummus_Pasta {width:51px; height:44px; background-position: -1996px -664px}
.food-vegan_restaurant-Food_PopUp_Oyster_Mushroom_Soup {width:51px; height:44px; background-position: -1996px -708px}
.food-vegan_restaurant-Food_PopUp_Pasta {width:50px; height:46px; background-position: -1878px -2001px}
.food-vegan_restaurant-Food_PopUp_Spaghetti_Bolognese {width:61px; height:35px; background-position: -1238px -1966px}
.food-vegan_restaurant-Food_PopUp_Tomato_Couscus_Salad {width:51px; height:43px; background-position: -1777px -1998px}
.food-vegan_restaurant-Food_PopUp_Vegan__Baked_Ziti {width:59px; height:42px; background-position: -1988px -1156px}
.food-vegan_restaurant-Food_PopUp_lentil_Soup {width:51px; height:44px; background-position: -1036px -1907px}
.hud-Box-Background {width:196px; height:122px; background-position: -721px -1412px}
.hud-Btn_Setting {width:57px; height:57px; background-position: -1931px -1023px}
.hud-Btn_Setting_Pressed {width:57px; height:57px; background-position: -1931px -1080px}
.hud-Chef-Btn-Boost {width:106px; height:107px; background-position: -1837px -1759px}
.hud-Chef-Btn-Boost_Pressed {width:106px; height:107px; background-position: -1885px -1506px}
.hud-Coin-Bar {width:172px; height:47px; background-position: -1080px -1541px}
.hud-Icon-Chair {width:32px; height:42px; background-position: -615px -1665px}
.hud-Icon-Clock {width:36px; height:41px; background-position: -1356px -1960px}
.hud-Icon-Tag {width:38px; height:45px; background-position: -1928px -2001px}
.hud-Idle-Cash-Bar {width:171px; height:61px; background-position: -804px -1808px}
.hud-Level-Background-bar {width:172px; height:44px; background-position: -574px -1989px}
.hud-Level-Green-Bar {width:130px; height:30px; background-position: -1798px -1181px}
.hud-Restaurant-Name-Background {width:263px; height:46px; background-position: -254px -2002px}
.hud-button_state_01 {width:155px; height:75px; background-position: -1527px -1752px}
.hud-button_state_01_pressed {width:155px; height:75px; background-position: -1682px -1759px}
.hud-button_state_02 {width:139px; height:75px; background-position: -1388px -1688px}
.hud-button_state_02_pressed {width:139px; height:75px; background-position: -1729px -748px}
.hud-button_state_05 {width:133px; height:66px; background-position: -1332px -1894px}
.hud-button_state_05_pressed {width:132px; height:66px; background-position: -1783px -1932px}
.hud-food_blogger_description {width:524px; height:78px; background-position: -641px -712px}
.hud-happy_hour_description {width:511px; height:72px; background-position: -1187px -302px}
.lobby_screen-Btn-Play {width:233px; height:207px; background-position: -1809px -0px}
.lobby_screen-Btn-Play_Pressed {width:233px; height:207px; background-position: -1381px -443px}
.lobby_screen-Btn-Tutorial {width:172px; height:152px; background-position: -647px -1574px}
.lobby_screen-Btn-Tutorial_Pressed {width:172px; height:152px; background-position: -1080px -1389px}
.lobby_screen-Btn-sound-off {width:171px; height:155px; background-position: -391px -1765px}
.lobby_screen-Btn-sound-off_pressed {width:171px; height:155px; background-position: -1371px -894px}
.lobby_screen-Btn-sound-on {width:171px; height:155px; background-position: -1371px -1049px}
.lobby_screen-Btn-sound-on_pressed {width:171px; height:155px; background-position: -1078px -1234px}
.offline_earn-Ads-Icon {width:41px; height:31px; background-position: -562px -1765px}
.offline_earn-Btn_Close {width:72px; height:72px; background-position: -997px -1951px}
.offline_earn-Btn_Close_Pressed {width:72px; height:72px; background-position: -1943px -1749px}
.offline_earn-Btn_Green {width:216px; height:82px; background-position: -1529px -1670px}
.offline_earn-Btn_Green_Pressed {width:216px; height:82px; background-position: -1061px -1588px}
.offline_earn-Btn_Orange {width:216px; height:82px; background-position: -1073px -1670px}
.offline_earn-Btn_Orange_Pressed {width:216px; height:82px; background-position: -1073px -1752px}
.offline_earn-Chef-Picture {width:525px; height:297px; background-position: -641px -415px}
.offline_earn-Claim2x_text {width:135px; height:27px; background-position: -1796px -1022px}
.offline_earn-Claim_text {width:92px; height:27px; background-position: -975px -1808px}
.offline_earn-Coin_icon {width:48px; height:47px; background-position: -1336px -2001px}
.offline_earn-Money-Background {width:282px; height:91px; background-position: -365px -1574px}
.offline_earn-Welcom-back-text {width:318px; height:44px; background-position: -1371px -850px}
.offline_earn-Youve-Collected-Text {width:484px; height:34px; background-position: -641px -790px}
.restaurant_switch_screen-button_enter {width:250px; height:100px; background-position: -471px -1434px}
.restaurant_switch_screen-button_enter_pressed {width:250px; height:100px; background-position: -365px -1665px}
.restaurant_switch_screen-button_locked {width:250px; height:100px; background-position: -1382px -650px}
.restaurant_switch_screen-button_locked_pressed {width:250px; height:100px; background-position: -1407px -750px}
.restaurant_switch_screen-button_restaurants_01 {width:104px; height:110px; background-position: -1787px -1322px}
.restaurant_switch_screen-button_restaurants_01_pressed {width:104px; height:110px; background-position: -1277px -1544px}
.restaurant_switch_screen-button_return {width:250px; height:100px; background-position: -1121px -834px}
.restaurant_switch_screen-button_return_pressed {width:250px; height:100px; background-position: -1121px -934px}
.restaurant_switch_screen-button_unlock {width:250px; height:100px; background-position: -1121px -1034px}
.restaurant_switch_screen-button_unlock_pressed {width:250px; height:100px; background-position: -1121px -1134px}
.restaurant_switch_screen-description_base {width:622px; height:212px; background-position: -1187px -0px}
.restaurant_switch_screen-dot_not_selected {width:21px; height:20px; background-position: -1166px -415px}
.restaurant_switch_screen-dot_red {width:21px; height:20px; background-position: -692px -1412px}
.restaurant_switch_screen-dot_selected {width:21px; height:20px; background-position: -365px -1765px}
.restaurant_switch_screen-notification_dot {width:34px; height:34px; background-position: -1702px -398px}
.restaurant_switch_screen-text_restaurant_highlights {width:232px; height:27px; background-position: -1809px -207px}
.restaurant_switch_screen-text_unlocks_at {width:196px; height:18px; background-position: -574px -1971px}
.settings_menu-button_close {width:72px; height:72px; background-position: -1943px -1821px}
.settings_menu-button_close_pressed {width:72px; height:72px; background-position: -1915px -1893px}
.settings_menu-button_home {width:242px; height:82px; background-position: -819px -1644px}
.settings_menu-button_home_pressed {width:242px; height:81px; background-position: -615px -1726px}
.settings_menu-button_sfx_off {width:242px; height:82px; background-position: -562px -1807px}
.settings_menu-button_sfx_off_pressed {width:242px; height:82px; background-position: -574px -1889px}
.settings_menu-button_sfx_on {width:242px; height:82px; background-position: -1706px -234px}
.settings_menu-button_sfx_on_pressed {width:242px; height:82px; background-position: -1702px -316px}
.settings_menu-button_tutorial {width:242px; height:82px; background-position: -1529px -1506px}
.settings_menu-button_tutorial_pressed {width:242px; height:82px; background-position: -1529px -1588px}
.settings_menu-settings_base {width:471px; height:726px; background-position: -0px -826px}
.tutorial-button_close {width:72px; height:72px; background-position: -997px -1951px}
.tutorial-button_close_pressed {width:72px; height:72px; background-position: -1943px -1749px}
.tutorial-dot_off {width:25px; height:25px; background-position: -1252px -1544px}
.tutorial-dot_on {width:25px; height:25px; background-position: -997px -2023px}
.tutorial-left_arrow {width:54px; height:84px; background-position: -1880px -1238px}
.tutorial-left_arrow_pressed {width:54px; height:84px; background-position: -1891px -1322px}
.tutorial-right_arrow {width:54px; height:84px; background-position: -1941px -892px}
.tutorial-right_arrow_pressed {width:54px; height:84px; background-position: -1465px -1828px}
